body {
    background-color: white;
}

body, input {
    font-size: 1em;
    font-family: Helvetica;
    color: #1A1D73;
}

a {
    text-decoration: none;
    border-bottom: 1px dashed #1A1D73;
}

/*list*/
.list {
    background-color: #CA4A0D;
    text-align: center;
    margin: 20px auto;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow:1px 1px 0 #1A1D73;
    box-sizing: border-box;
}

.list .header {
    margin-bottom: 10px;
}

/*items*/
.items {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.items li:hover .done-button {
    opacity: 1;
}
.items .item.done {
    text-decoration: line-through;
}
.items li, .item-add .input {
    border: 0px;
    border-bottom: 1px solid #2E7313;
    padding: 15px 0;
}
.input {
    width: 100%;
}
.input:focus {
    outline: none;
}

/*done*/
.done-button {
    display: inline-block;
    font-size: 0.8em;
    background-color: #1A1D73;
    color: white;
    padding: 3px 6px;
    border: 0px;
    opacity: 0.4;
}

/*submit*/
.submit {
    color: #CA4A0D;
    font-weight: bold;
    background-color: #1A1D73;
    padding: 5px 10px;
    border: 1px solid #2E7313;
    width: 100%;
    margin-top: 10px;
    box-shadow: 1px 1px #1A1D73;

}